
    body {
      font-family: Arial, sans-serif;
    }
    .header {
      text-align: center;
      font-size: 24px;
      margin-top: 20px;
    }
    table.summary, table.feature-summary {
      width: 90%;
      margin: 20px auto;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #999;
      padding: 12px;
      text-align: left;
    }
    th {
      background-color: #4f4f4f;
      color: white;
      font-size: 18px;
    }
    .type-column {
      width: 15%;
    }
    .description-column {
      width: 85%;
    }
    .feature {
      font-weight: bold;
      font-size: 20px;
      background-color: #f8d7da;
    }
    .scenario {
      font-weight: bold;
      cursor: pointer;
    }
    .step {
      font-size: 16px;
      background-color: #fce4ec;
    }
    .type {
      font-weight: bold;
      width: 15%;
    }
    .feature-indent {
      padding-left: 20px;
    }
    .scenario-indent {
      padding-left: 40px;
    }
    .step-indent {
      padding-left: 60px;
    }
    .passed {
      color: blue;
    }
    .failed {
      color: red;
      background-color: #f8d7da;
    }
    