[WEBDRIVER]
chrome_driver_path = C:/chromedriver/chromedriver.exe
[woo_commerce]
url = http://mylocalwp.local/
username = samfire52008@gmail.com
password = adm...
consumer_key = ck_b0...
consumer_secret = cs_718f...
